@using DXTreelist0904.Models
@model Adminler
@{
    Layout = null;
}



<div class="modal-dialog modal-md">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title ortala">Admin Düzenle</h4>
        </div>

        <div class="modal-body">

           @using (Html.BeginForm())
           {
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Ad Soyad</span>
                @Html.TextBoxFor(x => x.AdminAdSoyad, new { @class = "form-control", placeholder = "Adınız", aria_describedby = "basic-addon1" })
            </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Kullanıcı Adı </span>
                    @Html.TextBoxFor(x => x.AdminKAdi, new { @class = "form-control", placeholder = "Soyadınız", aria_describedby = "basic-addon1" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Şifre </span>
                    @Html.TextBoxFor(x => x.AdminSifre, new { @class = "form-control", placeholder = "Şifreniz", aria_describedby = "basic-addon1" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Görev </span>
                    @Html.TextBoxFor(x => x.AdminGorev, new { @class = "form-control", placeholder = "Göreviniz", aria_describedby = "basic-addon1" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Bölüm </span>
                    @Html.TextBoxFor(x => x.AdminBolum, new { @class = "form-control", placeholder = "Bölümünüz", aria_describedby = "basic-addon1" })
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Yetki </span>
                    @Html.TextBoxFor(x => x.Yetki, new { @class = "form-control", aria_describedby = "basic-addon1" })
                </div>

                <br />
               
                <div class="input-group">
                    @if (ViewBag.Result != null)
                    {
                        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                    }
                </div>

           }
        </div>


        <div class="modal-footer">
            <input type="submit" value="Güncelle" class="btn btn-primary" />
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

    </div>

</div>
